read-write-file/src/main/mule/read-write-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <configuration-properties doc:name="Configuration properties" file="mule-artifact.properties" />

    <file:config name="file_config" doc:name="File Configuration">
        <file:connection workingDir="c:\temp" />
    </file:config>

    <flow name="read-write-file-sample">

        <scheduler doc:name="read-write-file-scheduler">
            <scheduling-strategy>
                <fixed-frequency frequency="${read-write-file.polling.frequency}"/>
            </scheduling-strategy>
        </scheduler>

        <logger level="INFO" message="#['Starting read-write-file flow']"/>

        <file:write config-ref="file_config" path="ping.txt">
            <file:content>
                #['Look Ma! I can write to a file']
            </file:content>
        </file:write>

        <logger level="INFO" message="#['Added content to ping.txt']"/>

        <file:move config-ref="file_config" sourcePath="ping.txt" overwrite="true" targetPath="backup" renameTo="pong.txt"/>

        <logger level="INFO" message="#['Moved ping.txt to backup\pong.txt with overwriting enabled']"/>

    </flow>

</mule>
