read-write-file/target/classes/read-write-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <file:config name="File_Config" doc:name="File Config" doc:id="cbe27bd8-6583-4c05-8bc5-89bade4ca823" >
        <file:connection workingDir="yourPath\src\main\resources" />
    </file:config>

    <flow name="read-write-file-sample" doc:id="f7ceb103-2f4d-4d28-89a0-2d5427d91301" >

        <scheduler doc:name="Scheduler" doc:id="432d0cc7-14c3-48b1-a819-72c7c47722fc" >
            <scheduling-strategy >
                <fixed-frequency frequency="20000"/>
            </scheduling-strategy>
        </scheduler>

        <file:read config-ref="File_Config" path="input.csv" doc:name="Read CSV file" doc:id="663f1e97-9f52-40e6-a4b3-deeaa943cfb3" />

        <logger level="INFO" doc:name="Log objects to save" doc:id="efc027eb-74cf-458b-b514-c9dd134388a5" message="#['Saving objects: ' ++ write(payload, 'application/json', {&quot;indent&quot;: &quot;false&quot;})]"/>

    </flow>
</mule>
